

.loader{
	position: fixed;
	left: 0;
    top: 0;
    right:0;
    bottom:0;
	width: 100%;
	height: 100%;
	background: url(../images/loader.svg) 50% 50% no-repeat ;
	z-index: 9999;
	background-color: #FFF;
	transition: all 2s ease;
}	
body,html{
    padding:0;
    margin:0;
}
.color_white{
    background-color: #fff;
}
.menu-header .logo{
    max-width: 70%;
}
.menu-header .item-right{
    justify-content: center;
    font-size: 18px;
    color:#e31c45;
    text-transform: uppercase;
    font-family: MontserratM;
}
.menu-header .item-right .nav-item{
    margin: 0px 10px;
}
.menu-header .item-right .nav-item .nav-link {
    color:#e31c45;
}
/* ==========footer================== */


